<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/logged.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/band_finder.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="upper_container">
        <div class="logo">Musicer</div>
        <div class="right_upper_container">
            <div class="nickname">NickName</div>
            <img src="../Public/img/anthony_friend.png">
            <button name="menu_button" class="menu"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="bands_container">
        <div class="upper_band_container">
            <div class="role_options">
                <h3>Wybierz swoją rolę w zespole, a dowiesz się, do których zespołów możesz dołączyć:</h3>
                <input name="guitar" type="checkbox">Gitara
                <input name="bass_guitar" type="checkbox">Gitara basowa
                <input name="lead_guitar" type="checkbox">Gitara prowadząca
                <input name="drums" type="checkbox">Perkusja
                <input name="piano" type="checkbox">Klawisze
                <input name="vocal" type="checkbox">Wokal
                <input name="rhythm_guitar" type="checkbox">Gitara rytmiczna
            </div>
        </div>
        <div class="band_list">
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>The Flea</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Chadasdsad</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/image-5.png"></button>
                <p>Chad</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="band">
                <button class="band_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>
<body>