<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/logged.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/friends.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="upper_container">
        <div class="logo">Musicer</div>
        <div class="right_upper_container">
            <div class="nickname">NickName</div>
            <img src="../Public/img/anthony_friend.png">
            <button name="menu_button" class="menu"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="friends_container">
        <h3>Znajomi</h3>
        <div class="friends_searcher">
            <button type="submit" name="new_friends_button">+ Szukaj znajomych</button>
            <div class="searcher">
                <input name="my_friends_searcher" type="text">
                <button name="new_friends_button">></button>
            </div>
        </div>
        <div class="friends_list">
            <div class="friend">
                <button class="friend_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Anthony</p>
            </div>
            <div class="friend">
                <button class="friend_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>The Flea</p>
            </div>
            <div class="friend">
                <button class="friend_button"><img src="../Public/img/anthony_friend.png"></button>
                <p>Chadasdsad</p>
            </div>
            <div class="friend">
                <button class="friend_button"><img src="../Public/img/image-5.png"></button>
                <p>Chad</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<body>