<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="motto">
            Twórz. Udostępniaj. Szukaj.
        </div>
        <div class="register">
            <button type="submit">ZAREJESTRUJ SIĘ</button>
        </div>
        <div class="footage">
            PODZIEL SIĘ TYM CO POTRAFISZ
        </div>
        <div class="logo">
            Musicer
        </div>
        <div class="login">
            <button type="submit" onclick="window.location.href='login_form.html'">ZALOGUJ SIĘ</button>
        </div>
    </div>
</body>
</html>