<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/logged.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/mail.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="upper_container">
        <div class="logo">Musicer</div>
        <div class="right_upper_container">
            <div class="nickname">NickName</div>
            <img src="../Public/img/anthony_friend.png">
            <button name="menu_button" class="menu"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="post_container">
        <div class="upper_post_container">
            <div class="options_container">
                <button type="submit" name="option_button">Wszystkie</button>
                <button type="submit" name="option_button">Odebrane</button>
                <button type="submit" name="option_button">Wysłane</button>
                <button type="submit" name="option_button">Zaproszenia</button>
                <button type="submit" name="option_button">Chat</button>
                <div class="searcher">
                    <input name="mail_searcher" type="text">
                    <button name="mail_search_button">></button>
                </div>
            </div>
        </div>
        <div class="mail_list">
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
            <div class="mail">
                <div class="sender">
                    <h4>Adrian</h4>
                </div>
                <button class="mail_title_button"><h4>Cześć, wpadasz jutro?</h4></button>
                <div class="date">
                    <h4>19.11.1992</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<body>
