<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/my_account.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="upper_container">
        <div class="logo">Musicer</div>
        <div class="right_upper_container">
            <div class="nickname">NickName</div>
            <div class="photo"></div>
            <button class="menu"><i class="fa fa-bars"></i></button>
        </div>
        <div class="user_information">
            <div class="upper_informations">
                <div class="music_and_bands">
                    Ulubiona muzyka<br/>
                    <div class="music">
                        Rock<br/>
                        Pop<br/>
                    </div>
                    Zespół<br/>
                    <div class="band">
                        Nazwa
                        <div class="band_photo"></div>
                    </div>
                </div>
                <div class="photo_and_name">
                    <div class="main_photo"></div>
                    <div class="name">
                        NickName<br/>
                        ImieNazwisko<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>