<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/logged.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/my_band.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="upper_container">
        <div class="logo">Musicer</div>
        <div class="right_upper_container">
            <div class="nickname">NickName</div>
            <img src="../Public/img/anthony_friend.png">
            <button class="menu"><i class="fa fa-bars"></i></button>
        </div>
    </div>
    <div class="band">
        Twój zespoł<br/>
        <span>RedHotChiliPeppers</span>
        <div class="band_logo">
            <img src="band_logo.png">
        </div>
        <div class="members">
            <div class="member">
                <span>Bass Guitar</span>
                <img src="../Public/img/sprawz_to.png">
                <span>TheFlea</span>
            </div>
            <div class="member">
                <span>Guitar</span>
                <img src="../Public/img/guitar_img.png">
                <span>Chris</span>
            </div>
            <div class="member">
                <span>Drums</span>
                <img src="../Public/img/chad_friend.png">
                <span>Chad</span>
            </div>
            <div class="member">
                <span>Vocal</span>
                <img src="../Public/img/vocal_img.png">
                <span>Anthony</span>
            </div>
            <div class="member">
                <span>Vocal</span>
                <img src="../Public/img/vocal_img.png">
                <span>Anthony</span>
            </div>
            <div class="member">
                <span>Vocal</span>
                <img src="../Public/img/vocal_img.png">
                <span>Anthony</span>
            </div>
            <div class="member">
                <span>Vocal</span>
                <img src="../Public/img/vocal_img.png">
                <span>Anthony</span>
            </div>
            <div class="member">
                <span>Vocal</span>
                <img src="../Public/img/vocal_img.png">
                <span>Anthony</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>
<body>

</body>
</html>