<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/register_last_page.css" />
</head>
<body>
<div class="container">
    <form>
        <h3>To już ostatni krok do kariery</h3>
        <p>Ulubiony rodzaj muzyki</p>
        <div class="preferences">
            <label><input type="checkbox">Rock</label>
            <label><input type="checkbox">Pop</label>
            <label><input type="checkbox">Rock alternatywny</label>
            <label><input type="checkbox">Reggae</label>
            <label><input type="checkbox">SKA</label>
            <label><input type="checkbox">Metal</label>
            <label><input type="checkbox">Muzyka rozrywkowa</label>
            <label><input type="checkbox">Inne</label>
        </div>
        <p>Napisz coś o sobie</p>
        <textarea rows = "5" cols = "60" name = "description"></textarea>
        <p>Prześlij swoje nagranie</p>
        <button class="file_button" type="submit">Prześlij z komputera</button>
        <input class="end_button" type="button" onclick="window.location.href='my_account.html'" ; value="ZAKOŃCZ">


    </form>

    <div class="footage">
        PODZIEL SIĘ TYM CO POTRAFISZ
    </div>
    <div class="logo">
        Musicer
    </div>
    <div class="login">
        <button type="submit" onclick="window.location.href='login_form.html'">ZALOGUJ SIĘ</button>
    </div>
</div>
</body>
</html>