<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>muziker</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../Public/css/register.css" />
</head>
<body>
<div class="container">

    <form>
        Login<br/>
        <input name="login" type="text" placeholder="login">
        E-mail<br/>
        <input name="login" type="text" placeholder="email@email.com">
        <div class="regulation">
            <input type="checkbox"> Oświadczam, że zapoznałem/am się z Regulaminem strony i akceptuję wszystkie zawarte w nim warunki.
        </div>
        <input class="button_next" type="button" onclick="window.location='register_personal_data.html';" value="Przejdź dalej">
    </form>
    <div class="footage">
        PODZIEL SIĘ TYM CO POTRAFISZ
    </div>
    <div class="logo">
        Musicer
    </div>
    <div class="login">
        <button type="submit" onclick="window.location.href='login_form.html'">ZALOGUJ SIĘ</button>
    </div>
</div>
</body>
</html>