.edit_form {
    position: relative;
    width: 100%;
    height: 100%;
}

.edit_description {
    position: relative;
    width: 100%;
    height: 50%;
    min-height: 250px;
}

.edit_description_content {
    position: relative;
    width: 80%;
    left: 10%;
    height: 50%;
    overflow-wrap: break-word
}

.edit_description_content > textarea {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 70%;
    margin-top: 5%;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFF8F8;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    font-family: Malgun Gothic;
    font-weight: bold;
}

.user_input {
    position: relative;
    width: 100%;
    height: 10%;
    min-height: 100px;
}

.save_changes {
    position: relative;
    width: 60%;
    margin-left: 20%;
    height: 10%;
}

.save_changes > button {
    position: relative;
    width: 100%;
    height: 60%;
    min-height: 70px;
    outline: none;
    background: #707070;
    color:white;
    font-size: 100%;
    border: none;
}


.exit_button {
    position: relative;
    width: 35px;
    height: 35px;
    left: 90%;
    top: 2%;
    border: none;
    background-color: transparent;
}

.exit_button > img {
    position: relative;
    width: 150%;
}