.container {
    background-image: url("../img/friends_background.png");
}

.friends_searcher{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 70px;
    background: #707070;
    top: 150px;
    z-index: 0;
}

.friends_title {
    position: relative;
    font-size: 2em;
    font-family: Malgun Gothic;
    width: 50%;
    height: 100%;
    margin-left: 20px;
}

.searcher {
    position: relative;
    width: 50%;
    height: 100%;
    margin-right: 1vw;
}

.searcher > input {
    position: relative;
    width: 40%;
    height: 32px;
    margin-top: 15px;
}

.searcher > button {
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}

.searcher > button > img {
    position: relative;
    width: 100%;
    height: 30px;
}

.friends_container {
    position: fixed;
    top: 220px;
    width: 100%;
    height: 70%;
    background: #FFFFFF96 0% 0% no-repeat padding-box;
    overflow: auto;
}
button:hover {
    opacity: 80%;
}

.friends_list {
    position: relative; /*sprawdzic*/
    margin-top: 20px;
    height: 100%;
}

.friend {
    display: block;
    width: 15%;
    float:left;
    text-align: center;

}

.friend > button {
    border: none;
    background-image: none;
    background-color: transparent;
    cursor: pointer;
}


.friend > button > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}