.login_div {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 5%;
    right:3%;
    width: 35%;
    height: 25%;
    min-height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    font: Bold 20px/27px Malgun Gothic;
    z-index: 1;
}

.login_form {
    width: 100%;
    height: 100%;
}

.login_input {
    position: relative;
    display: flex;
    width: 100%;
    height: 35%;
    flex-direction: row;
    align-content: center;
    margin-bottom: 4%;
}

.login_input > input{
    position: relative;
    text-align: center;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    height: 100%;
    width: 45%;
    outline: none;
    margin-right: 2vw;
    margin-top: 1%;
    margin-left: 5%;
}

.messages {
    text-align: center;
}

button[name="login_button"] {
    position: relative;
    width: 50%;
    height: 30%;
    background: #FFFFFFCC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin-bottom: 2%;

}

::placeholder
{
    text-align: center;
}

button:hover {
    opacity: 80%;
}

@media screen and (max-width: 1000px) {
    .motto {
        visibility: hidden;
    }

    .register > button {
        visibility: hidden;
    }

    .login_form {
        top: 20%;
        left:10%;
        width: 80%;
        height: 70%;
        min-height: 550px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 10px;
        font: Bold 20px/27px Malgun Gothic;
    }

    .upper_login_form {
        flex-direction: column;
        width: 100%;
        height: 50%;
        padding: 1vw;
        margin-bottom: 5%;
    }

    .upper_login_form > div {
        margin-top: 5%;
        height: 40%;
        font-size: 4vw;
        text-align: center;
    }

    .upper_login_form > div > input{
        height: 50%;
        width: 90%;
        outline: none;
        margin-top: 40px;
        font-size: 1em;
    }

    .lower_login_form {
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        text-align: center;
    }

    .lower_login_form > button {
        position: relative;
        width: 80%;
        height: 15vw;
        margin-left: 10%;
        background: #02020282 0% 0% no-repeat padding-box;
        border: 1vw solid #FFFFFF;
        border-radius: 1vw;
        font-size: 3vw;
        color: white;
        font-weight: bold;
        outline: none;
    }

    .left_lower > button {
        background: none;
        border:none;
        font-size: 3vw;
        margin-left: 5%;
    }

    input[type='checkbox'] {
        width: 3vw;
        height: 3vw;
        background:white;
        border-radius: 0.1vw;
        border:2px solid #555;
        margin-bottom: 5%;
        margin-left: 25%;
    }

}