form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    right:3%;
    width: 35%;
    height: 20%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    font: Bold 20px/27px Malgun Gothic;
}

.upper_login_form {
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: row;
    padding: 5px 10px;
}

.upper_login_form > div > input{
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    height: 50%;
    outline: none;
    margin-right: 50px;
}


.lower_login_form > button {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 192px;
    height: 44px;
    background: #FFFFFFCC 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.lower_login_form {
    display: flex;
    flex-direction: row;
}

.left_lower {
    margin-top: 5px;
    text-align: left;
    font-family: Segoe UI;
}

.left_lower > button {
    background: none;
    border:none;
}


::placeholder
{
    text-align: center;
}

button:hover {
    opacity: 80%;
}