.container {
    background-image: url('my_account_img.png');
}

.user_information {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left:35%;
    width: 30%;
    height:80%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    text-align: center;
    font: Bold 20px/27px Malgun Gothic;
    letter-spacing: 0;
    color: #000000;
}

.upper_informations{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.main_photo {
    background-repeat: no-repeat;
    background-image: url("../img/main_photo.png");
    width: 150px;
    height: 150px;
}

.music_and_bands {
    position:relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 40px;
}

.music {
    text-align: left;
    margin-left: 22px;
    margin-bottom: 10px;
}

.band_photo {
    background-repeat: no-repeat;
    background-image: url("../../Views/band_logo.png");
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 18%;
}

.description {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFF8F8;
    margin-top: 10px;
    text-align: left;
}

.bottom_informations {
    height: 15%;
    width: 80%;
    text-align: left;
    margin-left:15px;
    margin-top:10px;
}

.record_panel {
    height: 20%;
    width: 50%;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 21px;
    margin-top: 10px;
}

.play{
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    outline: 0;
}

.edit {
    background: #02020282 0% 0% no-repeat padding-box;
    border: 5px solid #FFFFFF;
    border-radius: 44px;
    text-align: center;
    font-family: Malgun Gothic;
    font-weight: bold;
    font-size: 1em;
    color: #FFFAFA;
    margin-left: 45%;
    width: 40%;
    height: 65%;
    outline: none;
}

button:hover {
    opacity: 80%;
}