.container {
    background-image: url('my_band_background.png');
}

.band {
    font: Bold 30px/40px Malgun Gothic;
    position: absolute;
    top: 2%;
    left: 30%;
    height: 97%;
    width: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 109px;
    text-align: center;
}

.band_logo {
    background-repeat: no-repeat;
}

.members {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
}

.member {

    display: inline-block;
    width: 20%;
}

.member > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}