.container {
    background-image: url('my_band_background.png');
    text-align: center;
}

.band {
    position: fixed;
    font: Bold 30px/40px Malgun Gothic;
    top: 120px;
    height: 80%;
    min-height: 500px;
    width: 60%;
    min-width: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 109px;
    text-align: center;
    overflow: auto;
}

.logo_description {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.description {
    font-size: 50%;
    position: relative;
    width: 50%;
    height: 90%;
    margin-right: 10%;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFF8F8;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    word-wrap: break-word;
}

.band_logo {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: center;
}

.band_logo > img {
    margin-top: 5%;
    position: relative;
    height: 150px;
}

.members {
    position: relative;
    margin-left: 0;
    width: 100%;
}

.member {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 2%;
}

.member > div {
    font-size: 50%;
}

.member > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

::-webkit-scrollbar {
    visibility: hidden;
}

/*@media screen and (max-width: 1000px)*/
/*{*/
/*    .member {*/
/*        width: 35%;*/
/*        padding: 20px;*/
/*    }*/

/*    .member > span {*/
/*        font-size: 1.5em;*/
/*    }*/

/*    .band > span {*/
/*        font-size: 2em;*/
/*        font-weight: bold;*/
/*    }*/

/*    .band_logo > img {*/
/*        width: 40%;*/
/*    }*/
/*}*/