.container {
    text-align: center;
}

form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 7%;
    width: 30%;
    height: 80%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: Bold 30px/40px Malgun Gothic;
    color: #000000;
}

form > input {
    padding-bottom: 5px;
    margin-left: 15%;
    margin-top: 5px;
    text-align: center;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    height: 5%;
    width: 70%;
}

.photo {
    margin-left:15%;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    outline: none;
    height: 50px;
    font: Bold 10px/13px Malgun Gothic;
    letter-spacing: 0;
    color: #000000;
    font-size: 50%;
}

.date {
    display: flex;
    flex-direction: row;
    height: 8%;
}

.date > input {
    margin-top: 10px;
    text-align: center;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    width: 25%;
    height: 100%;
    margin-left: 5%;
    font-weight: bold;
}

.gender {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    font-size: 100%;
    margin-bottom: 5%;
}

.next_button {
    height: 10%;
    background: #02020282 0% 0% no-repeat padding-box;
    border: 5px solid #FFFFFF;
    border-radius: 44px;
    text-align: center;
    font: Bold 19px/26px Malgun Gothic;
    letter-spacing: 0;
    color: #FFFAFA;
    outline: none;
    margin-top: 10%;
}

.next_button:hover {
    opacity: 80%;
}

p {
    margin: 1% 0 1% 0;
}

@media screen and (max-width: 1000px) {
    .motto {
        visibility: hidden;
    }

    .register > button {
        visibility: hidden;
    }

    form {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 80%;
        height: 50%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 10px;
        font: Bold 20px/27px Malgun Gothic;
        font-size: 3.5em;
    }

    .login {
        visibility: hidden;
    }

    form > input {
        margin-top: 2%;
        height: 7%;
    }

    .photo {
        height: 10%;
        font-size: 0.7em;
    }

    .date > input {
        height: 100%;
        font-size: 0.8em;
    }

    .next_button {
        margin-top: 6%;
        font-size: 1em;
    }
}