.container {
    text-align: center;
}

.register_div {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 10%;
    width: 25%;
    min-width: 300px;
    height: 500px;
    margin-bottom: 200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    font: Bold 30px/40px Malgun Gothic;
    color: #000000;
}

.register_form {
    width: 100%;
    height: 100%;
}

.register_form > input {
    padding-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    background: #0606064D 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    height: 7%;
    width: 70%;
}

.button_next {
    position: relative;
    background: #02020282 0% 0% no-repeat padding-box;
    border: 5px solid #FFFFFF;
    margin-top: 30px;
    height: 15%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFAFA;
    font-size: 50%;
    outline:none;
}

.button_next:hover {
    opacity: 80%;
}

p {
    margin: 0;
}

.date{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.date > input {
    width: 25%;
    margin-left: 8%;
}

@media screen and (max-width: 1000px) {
    .motto {
        visibility: hidden;
    }

    .register > button {
        visibility: hidden;
    }

    .register_form {
        position: fixed;
        top: 20%;
        width: 80%;
        height: 70%;
        min-height: 550px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 10px;
        font: Bold 20px/27px Malgun Gothic;
        font-size: 4vw;
    }

    .login {
        visibility: hidden;
    }

    .register_form > input {
        margin-top: 6%;
        font-size: 3vw;
    }

    p {
        margin-top: 5%;
    }

    .button_next {
        width: 80%;
        height: 15%;
        margin-left: 10%;
        margin-top: 10%;
        background: #02020282 0% 0% no-repeat padding-box;
        border: 5px solid #FFFFFF;
        border-radius: 21px;
        font-size: 1em;
        color: white;
        font-weight: bold;
        outline: none;
    }

    .regulation {
        margin-top: 6%;
        font-size: 2.7vw;
        line-height: 1em;

    }

    .regulation > input {
        width: 3vw;
        height: 3vw;
        background:white;
        border-radius:5px;
        border:2px solid #555;
    }

    .button_next {
        position: relative;
        width: 80%;
        height: 15vw;
        margin-left: 10%;
        background: #02020282 0% 0% no-repeat padding-box;
        border: 1vw solid #FFFFFF;
        border-radius: 1vw;
        font-size: 3vw;
        color: white;
        font-weight: bold;
        outline: none;
    }
}