body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    background-image: url('main_background.png');
    overflow: auto;
}

.motto {
    position: absolute;
    top: 25%;
    width: 75%;
    height: 25%;
    text-align: center;
    letter-spacing: 0;
    color: #FFFFFF;
    font-family: Consolas;
    font-size: 6vw;
    z-index: 1;
}

.register {
    z-index: 1;
}

.register > button {
    display: block;
    text-align: center;
    margin-top: 40%;
    width: 461px;
    height: 87px;
    background: #02020282 0% 0% no-repeat padding-box;
    border: 5px solid #FFFFFF;
    border-radius: 44px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    outline: none;
    z-index: 1;
}


.login > button {
    position: absolute;
    top: 5%;
    right:3%;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #464646;
    background: #FFFFFFCC 0% 0%;
    border: 1px solid #707070;
    outline: none;
    z-index: 1;
}

.footage {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    min-height: 100px;
    background: #4b1f02 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #331a00;
    opacity: 80%;
    text-align: center;
    font: Italic 51px/60px Consolas;
    letter-spacing: 0;
    color: #FCDCCA;
    font-size: 5vw;
    z-index: 0;
}


.footage > p {
    position: relative;
    margin-top: 1%;
}

.logo {
    position: absolute;
    top: 5%;
    left: 3%;
    text-align: center;
    font: Bold 51px/61px Magneto;
    color: #FFFAFA;
}


.exit_button {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 92%;
    margin-top: 5px;
    background-color: transparent;
}

.exit_button > img {
    position: relative;
    width: 150%;
}

button:hover {
    opacity: 80%;
}

@media screen and (max-width: 1000px) {

    .logo {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 10%;
    }

    .motto {
        position: absolute;
        margin-top: 3%;
        font-size: 5vw;
    }

    .register > button {
        position: absolute;
        text-align: center;
        margin-top: 35%;
        left: 25%;
        top: 15%;
        height: 10%;
        width: 50%;
    }

    .login > button {
        text-align: center;
        margin-top: 35%;
        left: 25%;
        top: 30%;
        height: 10%;
        width: 50%;
        font-size: 4vw;
    }
}